
@{
    ViewData["Title"] = "صفحه اختصاصی مهسا نامجوی";
    Layout = "_Layout";
}

<h1>این صفحه متعلق به استاد مهسا نامجوی است</h1>
<br />
<h2>با همکاری امیر</h2>
@for (var i = 0; i < 20; i++)
{
    <h2>Amir @i</h2>
}

